.article{
    border: 10px solid black;
    background-color: lightblue;
    margin: 40px;
    width: 500px;
    box-shadow: 20px 20px 10px gray;
}
.header{
    height: 400px;
    background-color: lightgreen;
    background-image: url(/Media/Photos/photos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: 100px 300px; */
    /* background-position: center; */
}